.header {
  background-color: var(--background);
}
.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
   white-space: nowrap;
  flex-shrink: 0;
}

.link, .link_active {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link {
  color: var(--text-inactive-color);
}
.link_active {
  color: var(--text-primary-color);
}

.link_position_last {
  display: flex;
  justify-content: flex-end;

}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
